<!DOCTYPE html>
<html>

    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <!-- Angular things -->
        <script src="angular.js"></script>

		<!-- Here's our app! -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/flashcard.controller.js"></script>
    </head>

    <body ng-app="Flashcards" ng-controller="MainController">
    	<div class="flash-card" ng-repeat="flashCard in flashCards | orderBy: 'question'" ng-controller="FlashCardController">
		    <h1>{{flashCard.question | uppercase}}</h1>
		    <ul class="flash-card-answers">
		        <li class="flash-card-answer" ng-repeat="answer in flashCard.answers" ng-click="answerQuestion(answer.correct)">
		            {{answer.text}}
		        </li>
		    </ul>
		    <h2 class="answer-feedback" ng-show="flashCard.answered" ng-class="{ incorrect: !flashCard.isCorrect, correct: flashCard.isCorrect }">
			    <span>{{flashCard.isCorrectMsg}}</span>
			</h2>
		</div>
    </body>

</html>
